---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import me from "../assets/me.png";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">namaste</h6>
        <p class="m-0 font-light text-xl">
          I'm <b class="font-bold">Suryansh Anand</b>, bringing ideas to life through full-stack
          development. Learning and building in public, one app at a time.
        </p>
      </div>
      <div class="flex gap-4 flex-wrap">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.x} aria-label="x profile" target="_blank">
          <Button aria-label="x profile">
            <Icon name="ri:twitter-fill" class="h-6" />
            <span class="sr-only">Twitter/X</span>
          </Button>
        </a>
        <a href={LINKS.youtube} aria-label="youtube profile" target="_blank">
          <Button aria-label="youtube profile">
            <Icon name="ri:youtube-fill" class="h-6" />
            <span class="sr-only">YouTube</span>
          </Button>
        </a>
        <a href={LINKS.discord} aria-label="discord profile" target="_blank">
          <Button aria-label="discord profile">
            <Icon name="ri:discord-fill" class="h-6" />
            <span class="sr-only">Discord</span>
          </Button>
        </a>
        <a href={LINKS.email} aria-label="email" target="_blank">
          <Button aria-label="email">
            <Icon name="ri:mail-fill" class="h-6" />
            <span class="sr-only">Email</span>
          </Button>
        </a>
      </div>
    </div>
    <Image
      src={me}
      loading="eager"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none object-contain"
      alt="anime anand"
    />
  </div>
</Card>
